#conteudo {
    width: 600px; height: 450px;
    margin: 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 5px 5px 5px 5px; 
    }
.entradasCadastro {
    line-height: 20px;
    }