#paginaCadastro{
    background-image: url(../Images/sorriso.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
}

#conteudo {
    width: 100%; height: auto;
    margin: 30px;
    margin-top: 45px;
    border-radius: 10px;
    background-color: #9ec5fe;
    box-shadow: 5px 5px 5px 5px; 
    }
.entradasCadastro {
    line-height: 20px;
    }