#paginaContato{
    width: 100%;
    height: 100vh;
    background-image: url(../Images/sorriso.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: royalblue;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
}

#contatos{
    width: 50%;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
}

p{
    color: black;
}
