header{
    margin-bottom: 40px;
}

#paginaEquipe{
    width: 100%;
    height: auto;
    background-color: #9ec5fe;
    height: auto;
    color: royalblue;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
}

.portaRetrato{
    width: 33%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.foto{
    width: 100%;
}

.texto{
    display: flex; justify-content: center;
}