header{
    margin-bottom: 40px;
}
    
    #principal{
        padding: 200px;
        display: flex;
   align-items: center;
   justify-content: center;
   background-image: url(../Images/entrar.png); background-size: cover; background-repeat: no-repeat;
   background-color: #9ec5fe;
   height: 92vh;
    }
#login {
    width: 700px; height: 400px;
   background-color: rgba(255, 255, 255, 0.459);
   display: flex;
   align-items: center;
   flex-direction: column;
   padding: 15px;
   }
#login:hover {
    background-color: #9ec4fe86;
    transition: 0.4s;
}

form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   gap: 20px;
}

button{
    width: 200px;
    border: 2px solid black;
    font-family: Roboto, Verdana, Arial;
}